0 18 * * * root cd /usr/src/app && python3 manage.py send_daily_report >/proc/1/fd/1 2>/proc/1/fd/2
0 6 * * * root cd /usr/src/app && python3 manage.py check_later_messages >/proc/1/fd/1 2>/proc/1/fd/2